<div class="marg1emtb">
  <div class="songaudio"><audio src=<%= recording.file_location %> controls></audio></div>
  <div class="songtext"><%= recording.recording_info %>
  </div>
  <div class="clear">
  </div>
</div>
