
<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<!--this is what shows up in Google searches-->
<meta name="description" content="Grayson is an audio engineer in Chicago specializing in music recording on location and in studios as well as mixing, mastering, and noise removal.">
<meta name="keywords" content="sound rental chicago, microphone rental chicago, audio rental chicago, mic rental chicago, sound rentals chicago, microphone rentals chicago, audio rentals chicago, mic rentals chicago">
<title>Grayson Elliott Taylor | Music Recording | Audio Engineering | Gear</title>
<link href="main.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
<script src="http://use.edgefonts.net/cardo;double-pica.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52106246-1', 'graysonelliotttaylor.com');
  ga('send', 'pageview');

</script>

<!-- Hide this line for IE (needed for Firefox and others) -->
<![if !IE]>
<link rel="icon" href="../images/BK5SquareCrop.png" type="image/x-icon" />
<![endif]>>
<!-- This is needed for IE -->
<link rel="shortcut icon" href="../images/BK5SquareCrop.ico" type="image/ico" />
</head>


<body>
	<header id="header" class="maindivtheme">
			<h1>Grayson Elliott Taylor</h1>
           		<h2>music recording | audio engineering</h2>
          			 <nav>
    					<ul>
            					<li><a href="/">audio</a></li>
                  				<li><a href="services">philosophy</a></li>
                 				<li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="bio">bio</a></li>
                  				<li><a href="gear">gear</a></li>
                  				<li><a href="https://www.hightail.com/u/GraysonElliottTaylor">upload</a></li>
                  				<li><a href="contact">contact</a></li>
              				</ul>
          			</nav>
	</header>
    
	<div class="maindivtheme">
		<h1>gear</h1>
      			<p>While it's important to keep in mind that recordings are made by <b>people</b> rather than gear, having proper tools helps.</p>
			<div id="gearlist">
				<div><a href="http://graysonelliotttaylor.com/images/VintageSchoeps.jpg"><img src="images/VintageSchoepsThumbnail.jpg"></a>
				<h3>Schoeps CMT30FNU (Vintage)</h3> 
				<p>With m934c omni/cardioid switchable and mk241c hypercardioid capsules. Commissioned by the <a href="http://en.wikipedia.org/wiki/Office_de_Radiodiffusion_T%C3%A9l%C3%A9vision_Fran%C3%A7aise">ORTF</a> in the 1960s. Astonishingly similar to current Schoeps mics but with a little more "blend".
				</div>
				<div><a href="http://graysonelliotttaylor.com/images/SchoepsMSArrayHighRes.jpg"><img src="http://graysonelliotttaylor.com/images/SchoepsMSArrayThumbnail.jpg"></a>					<h3>Schoeps cmc5/cmc6</h3> 
				<p>With mk5 omni/cardioid switchable, mk2 omni, mk21 wide cardioid, and mk8 figure 8 capsules. A worldwide standard for high-end orchestral recording.
				</div>
				<div><a href="http://graysonelliotttaylor.com/images/RCA44bxHighRes.jpg"><img src="http://graysonelliotttaylor.com/images/RCA44bxThumbnail.jpg"></a>
				<h3>RCA 44bx (Vintage)</h3><p>The grandaddy of them all. Twice as old as I am, unrefurbished, and still sounds amazing. A classic <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Frank_Sinatra_by_Gottlieb_c1947.jpg/826px-Frank_Sinatra_by_Gottlieb_c1947.jpg">Frank Sinatra</a> and <a href="http://www.coutant.org/rca44bx/elvis.jpg">Elvis</a> mic.</p>					</div>
				<div><a href="http://graysonelliotttaylor.com/images/RCABK5HighRes.jpg"><img src="http://graysonelliotttaylor.com/images/RCABK5Thumbnail.jpg"></a>
				<h3>RCA BK-5B (Vintage)</h3><p>Developed in the 1950s to withstand sound levels from close-range gunshots for film sound. Bombastic on bass drums.</p>
				</div>
				<div><a href="http://graysonelliotttaylor.com/images/AKGC12BHighRes.jpg"><img src="http://graysonelliotttaylor.com/images/AKGC12BThumbnail.jpg"></a>
				<h3>AKG C12B (Vintage)</h3><p>1960s tube mic with legendary handmade CK12 capsule.</p>
				</div>		
        		</div>
		<div><h1>rentals</h1>
			<p>Refer to the list here for availability. Need specialty cables, extra mic stands, or anything else not on the list? <a href="mailto:get@graysonelliotttaylor.com?Subject=Audio%20rental" target="_top">Just ask.</a>
<br>
<br>The fine print:<span id="thefineprint">
<br>	
<br>&bull; I do not rent my vintage mics.
<br>&bull; $50 minimum.
		<br>&bull; Multi-day and package discounts available.
		<br>&bull; Prices and availability subject to change.
		<br>&bull; Contract required.
		<br></span></p>

				</div>  
				<div id="googledocdiv">     			
  	 			<iframe id="googledocspreadsheet" 
				width="800" height="625" src="https://docs.google.com/spreadsheet/pub?key=0Ag5Q3SekWAqNdHgxR29la2ZBOExsLWxUdVZWZ3hlakE&output=html&widget=true"></iframe>
				</div>
				
			</div>
		</div>
	</div>

<footer id="footer" class="maindivtheme"><h6>&copy; 2014 Grayson Elliott Taylor</h6></footer></body>
</html>
