

<div class="maindivtheme"><h1>About</h1><p><span class="bigger">I've developed a niche for recording all styles of music in acoustically interesting locations. </span>I also do mixing, mastering, noise removal, live sound, and audio for video. I approach every project individually, choosing a setting and a workflow that's best for each situation, wherever and whatever that may be.</p><h1>Audio</h1>
	<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: Maggie Mascal</h3>
			</div>
			<div class="location"><h3>Location: a renovated barn in rural Il.</h3>
			</div>
			<div class="clear">
			</div>
		</div>
  	<div class="marg1emtb">
			<div class="songaudio"><audio src="/audio/RagaExcerpt.mp3" controls></audio>
			</div>
      <div class="songtext">From the forthcoming <i>Magical Games</i> album.
      </div>
			<div class="clear">
			</div>
		</div>
		<div class="marg1emtb">
			<div class="songaudio"><audio src="/audio/idkExcerpt.mp3" controls></audio>
				</div>
         			<div class="songtext">
        			</div>
			<div class="clear">
			</div>
			</div>
	</div>
	<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: <a href="http://elizagarth.com">Eliza Garth</a></h3>
			</div>
			<div class="location"><h3>Location: The Floating World Art Gallery</h3>
			</div>
			<div class="clear">
			</div>
		</div>
		<div class="marg1emtb">
  				<div class="songaudio"><audio src="/audio/EineKleineMitternachtmusikExcerpt.mp3" controls></audio>
				</div>
         			<div class="songtext">A thunderous excerpt from <a href="http://www.georgecrumb.net/">George Crumb</a>'s "Eine Kleine Mitternachtmusik".</div>
			<div class="clear">
			</div>
		</div>
		</div>
	<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: Cheryl Wilson</h3>
			</div>
			<div class="location"><h3>Location: Ganz Hall</h3>
			</div>
			<div class="clear">
			</div>
  			</div>
		<div class="marg1emtb">
			<div class="songaudio"><audio src="/audio/CWGanzExcerpt.mp3" controls></audio>
				</div>
         			<div class="songtext">Featuring Ernie Adams (drums), Neal Alger (guitar), Jeff Hanley (bass), Marcin Fahmy (keys), and Mark Ohlsen (trumpet).
        			</div>
			<div class="clear">
			</div>
		</div>
		</div>
 		<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: UIC Big Band with special guest Howard Levy</h3>
			</div>
			<div class="location"><h3>Location: University of Illinois at Chicago</h3>
			</div>
			<div class="clear">
			</div>
		</div>
		<div class="marg1emtb">
			<div class="songaudio"><audio src="/audio/UICLevyExcerpt.mp3" controls></audio>
         			</div>
         			<div class="songtext">Recorded live in concert.
         			</div>
			<div class="clear">
			</div>
		</div>
    		</div>
    		<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: <a href="http://www.papermice.bandcamp.com">Paper Mice</a></h3>
			</div>
			<div class="location"><h3>Location: a grade school gymnasium</h3>
			</div>
			<div class="clear">
			</div>
		</div>
		<div class="marg1emtb">
      			<div class="songaudio"><audio src="/audio/SwineFluSuits.mp3" controls></audio>
    				</div>
    				<div class="songtext">From the highly reviewed  album <a href="http://www.chicagoreader.com/Bleader/archives/2012/07/13/reader-exclusive-album-stream-of-paper-mices-the-funny-papers">Funny Papers</a>.
    				</div>
			<div class="clear">
			</div>
		</div>
    		</div>
		<div class="bottomborder">
		<div class="marg1emtb">
			<div class="artist"><h3>Artist: <a href="http://thirdcoastpercussion.com">Third Coast Percussion</a></h3>
			</div>
			<div class="location"><h3>Location: Curtiss Hall</h3>
			</div>
			<div class="clear">
			</div>
		</div>
		<div class="marg1emtb">
      			<div class="songaudio"><audio src="/audio/BranchesExcerpt.mp3" controls></audio>
    				</div>
    				<div class="songtext">A piece using only natural plant instruments from <a href="http://aperiodicchicago.com/">a.pe.ri.od.ic</a>'s John Cage Festival.
    				</div>
			<div class="clear">
			</div>
		</div>
    		</div>
	</div>

<footer id="footer" class="maindivtheme"><h6>&copy; 2014 Grayson Elliott Taylor</h6></footer>

